.add{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}
form {
    text-align: center; 
    font-size: 15px;
    border-radius: 10px;
    border:none;
    /* color:whitesmoke */
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
select {
    width:100%;
    padding:10px 15px;
    margin:5px 0;
    display:inline-block;
    border-radius:4px;
    border:none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
    
}
input[type='submit']{
    width:30%;
    background-color:#4a68ba;
    color:white;
    border:1px solid rgb(147, 147, 147);
    padding:8px 5px;
    border-radius: 7px;
    cursor:pointer;
    font-size: 15px;
    margin:10px 0;
    margin-bottom: 2px;
    font-family:'Times New Roman', Times, serif
}
input[type="submit"]:hover{
    background-color:#d8773a;
    width:33%;
  }